.youtube-video {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: 'Times New Roman', Times, serif;

  /* text-align: center; */

  /* align-items: center; */

  /* justify-content: center */
}

.youtube-text {
  font-size: 20px;
  line-height: 1.6;
}

.iframe-video {
  margin-top: 10px;
}

.video-text {
  margin-top: 1px;
  margin-bottom: 1px;
  color: #666;
}

#space-image {
  width: 600px;
  height: 400px;
}
